/* Fichier CSS */

h1 {
    text-align: center;
    color: white;
    background-color: black;
  }

  
.alignez {
    text-align: center;
  }
 

.devanture {
    text-align: center;
    color: white;
    background-color: black;
  }

.surligne {
    color: white;
    background-color: purple;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

